contracts/node_modules/@openzeppelin/contracts/package.json
contracts/package-lock.json
contracts/node_modules
frontend/package-lock.json
backend/.env
contracts/.env
node_modules
package-lock.json
backend/database/scBlock.db
backend/logs/post.log
backend/yarn.lock
frontend/yarn.lock
ia/env
ia/__pycache__