@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: pulp;
    src: url(../assets/fonts/PulpDisplay-Regular.woff2);
    font-weight: 400;
  }
  @font-face {
    font-family: pulp;
    src: url(../assets/fonts/PulpDisplay-RegularItalic.woff2);
    font-weight: 400;
    font-style: italic;
  }
  @font-face {
    font-family: pulp;
    src: url(../assets/fonts/PulpDisplay-Bold.woff2);
    font-weight: 700;
  }
  @font-face {
    font-family: pulp;
    src: url(../assets/fonts/PulpDisplay-BoldItalic.woff2);
    font-weight: 700;
    font-style: italic;
  }
  @font-face {
    font-family: pulp;
    src: url(../assets/fonts/PulpDisplay-ExtraBold.woff2);
    font-weight: 800;
  }
  @font-face {
    font-family: pulp;
    src: url(../assets/fonts/PulpDisplay-ExtraBoldItalic.woff2);
    font-weight: 800;
    font-style: italic;
  }
  @font-face {
    font-family: pulp;
    src: url(../assets/fonts/PulpDisplay-SemiBold.woff2);
    font-weight: 600;
  }
  @font-face {
    font-family: pulp;
    src: url(../assets/fonts/PulpDisplay-SemiBoldItalic.woff2);
    font-weight: 600;
    font-style: italic;
  }
  @font-face {
    font-family: pulp;
    src: url(../assets/fonts/PulpDisplay-Medium.woff2);
    font-weight: 500;
  }
  @font-face {
    font-family: pulp;
    src: url(../assets/fonts/PulpDisplay-MediumItalic.woff2);
    font-weight: 500;
    font-style: italic;
  }
  @font-face {
    font-family: pulp;
    src: url(../assets/fonts/PulpDisplay-Light.woff2);
    font-weight: 300;
  }
  @font-face {
    font-family: pulp;
    src: url(../assets/fonts/PulpDisplay-LightItalic.woff2);
    font-weight: 300;
    font-style: italic;
  }
  @font-face {
    font-family: pulp;
    src: url(../assets/fonts/PulpDisplay-ExtraLight.woff2);
    font-weight: 200;
  }
  @font-face {
    font-family: pulp;
    src: url(../assets/fonts/PulpDisplay-ExtraLightItalic.woff2);
    font-weight: 200;
    font-style: italic;
  }
  @font-face {
    font-family: pulp;
    src: url(../assets/fonts/PulpDisplay-Outline.woff2);
    font-weight: 100;
  }
  @font-face {
    font-family: pulp;
    src: url(../assets/fonts/PulpDisplay-OutlineItalic.woff2);
    font-weight: 100;
    font-style: italic;
  }